<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <title>FrozenUI Demo</title>
    <!-- 引入 FrozenUI -->
    <link rel="stylesheet" href="http://i.gtimg.cn/vipstyle/frozenui/2.0.0/css/frozen.css"/>
</head>
<body>
<!-- 使用 -->
<div class="ui-form ui-border-t" style="padding-top:150px;margin-bottom: 0px">
    <form action="">
        <div class="ui-form-item ui-border-b">
            <label>
                用户名
            </label>
            <input type="text" placeholder="请输入用户名">
            <a href="#" class="ui-icon-close">
            </a>
        </div>
        <div class="ui-form-item ui-form-item-link ui-border-b">
            <label>
                密码
            </label>
            <input type="password" placeholder="请输入密码">
        </div>

        <div class="ui-btn-wrap">
            <button class="ui-btn-lg ui-btn-primary">
                登录
            </button>
        </div>
    </form>
</div>
</body>
</html>