<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <title>FrozenUI Demo</title>
    <!-- 引入 FrozenUI -->
    <link rel="stylesheet" href="http://i.gtimg.cn/vipstyle/frozenui/2.0.0/css/frozen.css"/>
</head>
<body>
<!-- 使用 -->
<div class="ui-tab">
    <ul class="ui-tab-nav ui-border-b">
        <li class="current"><span>热门直播类</span></li>
        <li><span>热门直播类</span></li>
        <li><span>热门直播类</span></li>
        <li><span>热门直播类</span></li>
    </ul>
    <ul class="ui-tab-content" style="width:400%">
        <li>内容1</li>
        <li>内容2</li>
        <li>内容3</li>
        <li>内容4</li>
    </ul>
</div>
</body>
</html>